body {
	font-size: 135%;
}

form {
	background-color: #d7dbe7;
	padding: 1em;
}
input, button {
	font-size: 100%;
}
input::placeholder {
	color: gray;
	
}



header { 
    display: flex; 
    flex-direction: column; 
    max-width: 100%; 
    align-items: center; 
    justify-content: center; 
    margin-right: 0;
} 
.loggaochsearch { 
    width: 90vw; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
} 
ul { 
    width: 90vw; 
    list-style-type: none; 
    display: flex; 
    justify-content: space-evenly; 
    margin-bottom: 1em; 
    flex-wrap: wrap;
} 
main{
    max-width: 1200px;
    margin: 0 auto;
}
.titel{
    padding: 0 0 0.5em 0;
}

.garanti > p { 
    text-align: center; 
} 
.search { 
    border: 1px solid #74747c; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 10em; 
    height: 2em; 
    margin-top: 2.5em; 
    border-radius: 5px; 
    padding-left: 1em; 
    cursor: text;
} 

ul li{ 
    margin: 1em 0 1em 1em; 
    font-weight: bold; 
    text-align: center; 
     
} 
ul a{ 
    text-decoration: none; 
    color: #414149; 
} 
ul li:hover{ 
    text-decoration: underline; 
} 


.error-message {
	visibility: hidden;
	/* display: none; */
	margin: 0em;
	font-size: 90%;
	color: rgb(117, 16, 16);
}
input:invalid + .error-message {
	visibility: visible;
	
}



label {
	font-weight: bold;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
	font-weight: normal; 
}

.form-layout {
	display: flex;
	flex-direction: column;
	padding: 0.5em 0em;
	border: 1px solid black;
}


button:hover,
input[type="checkbox"]:hover,
input[type="checkbox"] + label:hover,
input[type="radio"]:hover,
input[type="radio"] + label:hover {
	cursor: pointer;
}

.actual-menu {
	visibility: hidden;
}
#toggle-menu:checked + .actual-menu {
	visibility: visible;
}